.card-page {
  display: flex;
  flex-direction: column;
  width: 100vw;
  // align-items: center;
  .card-contact-container {
    width: 90%;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5em;
  }
  .contact-direct {
    display: grid;
    place-content: center;
    color: beige;
    a {
      font-size: 1.5em;
      text-decoration: none;
      color: aliceblue;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@media all and (max-width: 720px) {
  .card-page {
    .card-contact-container {
      width: 100%;
    }
  }
}
