.card-page {
  display: flex;
  flex-direction: column;
  width: 100vw;
  // align-items: center;
  .card-contact-container {
    width: 90%;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5em;
  }
  .contact-direct {
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    color: beige;
  }
}

@media all and (max-width: 720px) {
  .card-page {
    .card-contact-container {
      width: 100%;
    }
  }
}
