.about-me {
  width: 50%;
  text-align: left;
  color: white;
  .about-me-container {
    margin: 8em 0 0 3em;
    width: 90%;
    .about-me-text {
      font-size: 24px;
      font-weight: bolder;
      width: 80%;
      height: auto;
      margin: 0 0 0 24px;
      .title-name {
        margin: 24px 0;
        font-size: 32px;
        font-weight: bolder;
        color: transparent;
        background-clip: text;
        background-image: url('https://thumbs.gfycat.com/WhimsicalSandyArrowana-max-1mb.gif');
        // background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fthumbs.dreamstime.com%2Fb%2Ffondo-abstracto-con-las-pir%25C3%25A1mides-con-efectos-luminosos-dise%25C3%25B1o-moderno-con-las-figuras-geom%25C3%25A9tricas-70106686.jpg&f=1&nofb=1&ipt=d1a04a97c1c4e400e86ea5d94a70e6226c4abe72b17c250b06c6a2d8d2ffaeba&ipo=images');
        background-position: center;
        background-size: cover;
      }
    }
    
  }
}

@media all and (max-width: 720px) {
  .about-me {
    width: 100%;
    .about-me-container {
      margin: 0;
      .about-me-text {
        font-size: 1em;
        .title-name {
          font-size: 1.2em;
        }
      }
    }
  }
}