.about-me {
  width: 50%;
  // height: 100%;
  text-align: left;
  color: white;
  display: grid;
  place-content: center;
  h1 {
    font-size: 56px;
    margin: 0;
    padding: 0 36px;
  }
  .about-me-text {
    font-size: 24px;
    font-weight: bolder;
    padding: 36px;
    margin: 0;
    .title-name {
      font-size: 32px;
      font-weight: bolder;
      color: transparent;
      background-clip: text;
      background-image: url('https://thumbs.gfycat.com/WhimsicalSandyArrowana-max-1mb.gif');
      background-position: center;
      background-size: cover;
    }
  }
}

@media all and (max-width: 720px) {
  .about-me {
    width: 100%;
    .about-me-container {
      margin: 0;
      .about-me-text {
        font-size: 1em;
        .title-name {
          font-size: 1.2em;
        }
      }
    }
  }
}