.skills {
  width: 50%;
  margin-top: 12px;
  .title-skills {
    margin: 0 32px;
    text-align: left;
    color: beige;
    font-size: 40px;
  }
  .skills-container {
    margin-top: 56px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto, auto);
    gap: 32px 0;
  }
}