.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
}
.header .inicio-container {
  margin-left: 40px;
  border-radius: 6px;
  padding: 0 12px;
  cursor: pointer;
}
.header .inicio-container .inicio-title {
  color: transparent;
  background-clip: text;
  font-size: 36px;
  margin: 0;
  background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fthumbs.dreamstime.com%2Fb%2Ffondo-abstracto-con-las-pir%25C3%25A1mides-con-efectos-luminosos-dise%25C3%25B1o-moderno-con-las-figuras-geom%25C3%25A9tricas-70106686.jpg&f=1&nofb=1&ipt=d1a04a97c1c4e400e86ea5d94a70e6226c4abe72b17c250b06c6a2d8d2ffaeba&ipo=images");
  background-position: center;
  background-size: cover;
}
.header .nav-container {
  width: 40%;
  margin-right: 16px;
}
.header .nav-container .list-nav {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.header .nav-container .list-nav .list-item {
  cursor: pointer;
  list-style: none;
  padding: 12px 10px 8px;
  border: solid 2px #16213E;
  border-radius: 8px;
  transition: all 200ms;
  color: beige;
  width: 72px;
}
.header .nav-container .list-nav .list-item:hover {
  border: solid 2px #0c716e;
}

.main-container {
  display: flex;
  height: 90vh;
}
.main-container .presentation {
  width: 50%;
  text-align: left;
  color: beige;
}
.main-container .presentation .presentation-container {
  margin: 10em 0 0 6em;
  width: 90%;
}
.main-container .presentation .presentation-container .title-pre {
  font-size: 30px;
  font-weight: bolder;
  margin: 0;
}
.main-container .presentation .presentation-container .title-name {
  margin: 24px 0;
  font-size: 124px;
  font-weight: bolder;
  color: #5800FF;
  color: transparent;
  background-clip: text;
  background-image: url("https://thumbs.gfycat.com/WhimsicalSandyArrowana-max-1mb.gif");
  background-position: center;
  background-size: cover;
}
.main-container .presentation .presentation-container .title-dev {
  font-size: 42px;
  margin: 0;
}
.main-container .presentation .presentation-container .buttons-container {
  margin-top: 16px;
  width: 100%;
}
.main-container .presentation .presentation-container .buttons-container .btn-contact {
  font-family: "Josefin Sans", sans-serif;
  align-items: center;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  color: #fff;
  cursor: pointer;
  height: 48px;
  padding: 0 36px;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  font-size: 18px;
  margin: 0 24px;
}
.main-container .presentation .presentation-container .buttons-container .btn-contact:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}
.main-container .presentation .presentation-container .buttons-container .btn-contact:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}
.main-container .presentation .presentation-container .buttons-container .btn-contact:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}
.main-container .presentation .presentation-container .buttons-container .btn-about-me {
  font-family: "Josefin Sans", sans-serif;
  align-items: center;
  background-color: #FCFCFD;
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  color: #36395A;
  cursor: pointer;
  height: 48px;
  padding: 0 36px;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  font-size: 18px;
  margin: 0 24px;
}
.main-container .presentation .presentation-container .buttons-container .btn-about-me:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}
.main-container .presentation .presentation-container .buttons-container .btn-about-me:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}
.main-container .presentation .presentation-container .buttons-container .btn-about-me:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}
.main-container .desing-me {
  width: 50%;
  margin-top: 12px;
}
.main-container .desing-me .title-projects {
  margin: 0 32px;
  text-align: left;
  color: beige;
  font-size: 40px;
}
.main-container .desing-me .desing-me-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  max-width: 100%;
}
.main-container .desing-me .desing-me-container .card {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 240px;
  height: 280px;
  border-radius: 15px;
  margin: 30px 30px 0;
  transition: 0.5s;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
}
.main-container .desing-me .desing-me-container .card .box {
  width: 90%;
  height: 90%;
  margin: 4px;
  background: #2a2b2f;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 300ms ease-out;
}
.main-container .desing-me .desing-me-container .card .box .content {
  padding: 20px;
  text-align: center;
}
.main-container .desing-me .desing-me-container .card .box .content h3 {
  font-size: 1.8rem;
  color: #fff;
  z-index: 1;
  transition: 0.5s;
  margin-bottom: 15px;
}
.main-container .desing-me .desing-me-container .card .box .content p {
  font-size: 1rem;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.9);
  z-index: 1;
  transition: 0.5s;
}
.main-container .desing-me .desing-me-container .card .box .content a {
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  background: #2196f3;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  margin-top: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}
.main-container .desing-me .desing-me-container .card .box .content a:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
  background: #fff;
  color: #000;
}
.main-container .desing-me .desing-me-container .card .box:hover {
  transform: translateY(-24px) translateX(-16px) scale(1.1);
}

/*# sourceMappingURL=landing.css.map */
